:root{
	--about-button-left: 100px;
	--about-button-width: 300px;
	--documentation-button-width : calc(var(--about-button-width) * 1.08);
	--documentation-button-left: calc(var(--about-button-width) * 0.05 + var(--about-button-width) + var(--about-button-left));
}

body{
	margin: 0px;
	height:	810px;
	overflow-x:hidden;
	overflow-y:hidden;
}

ul{
	list-style-type: none;
}

#title{
	position: relative;
	width: 1000px;
}

.about_button{
	position: absolute;
	top: 400px;
	left: var(--about-button-left);
	width: var(--about-button-width);
}

.doc_button{
	position: absolute;
	top: 400px;
	left: var(--documentation-button-left);
	width: var(--documentation-button-width);
}

#about_button_inverted{
	opacity: 0;
}

#about_button_inverted:hover{
	opacity: 1;
}

#doc_button_inverted{
	opacity: 0;
}

#doc_button_inverted:hover{
	opacity: 1;
}

#graphic{
	position: absolute;
	top: calc(-1080px * 0.125);
	left: calc(-1920px * 0.125);
	width: calc(1920px * 1.25);
	z-index: -1;
}

#graphic_background{
	position: absolute;
	width: calc(1920px * 3);
	z-index: -2;
	opacity: 0.5;
}

.header{
	position: absolute;
	top: 50px;
	left: 50px;
	transform: translateZ(0.25px);
	transform: scale(0.85);
}

.site_content{
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden; 
	perspective: 1px;
	transform-style: preserve-3d;
	z-index: 0;
}
.graphic_foreground_wrapper{
	position: absolute;
	transform: translateZ(-0.25px);
	z-index: -1;
}

.graphic_background_wrapper{
	position: absolute;
	top: -1000px;
	left: -2000px;
	transform: translateZ(-1px);
	z-index: -2;
}

#information{
	position: absolute;
	top: 100px;
}

#general{
	position: absolute;
	left: 200px;
	height: 500px;
}

#technical{
	position: absolute;
	top: -100px;
	left: 600px;
	height: 400px;
}

#blue_square{
	position: relative;
	top: -700px;
	left: -25px;
	height: 750px;
	width: 500px;
	z-index: -1;
}

#magenta_square{
	position: relative;
	top: -500px;
	left: -50px;
	height: 550px;
	width: 500px;
	z-index: -1;
}

h1{
	position: relative;
	font-size: 45pt;
	width: 450px;
	font-family: Bahnschrift;
	color: white;
	margin-top: 6px;
	margin-bottom: 6px;
}

p{
	position: relative;
	font-size: 14pt;
	font-family: Calibri;
	color: white;
	width: 350px;
	text-align: justify;
	margin-top: 0px;
	margin-bottom: 0px;
}

.content{
	position: absolute;
	top: 1000px;
	width: 100%;
}

a{
	color: #0bb3d9;
}
a:hover{
	color: white;
}

.footer{
	display: inline;
    position: absolute;
	top: 900px;
	left: calc(50% - 250px);
    text-align: center;
	width: 500px;
}

.footer h2{
    color: rgba(0, 0, 0, 0.40);
    font-family: Helvetica;
    font-size: 12pt;
}

.footer a{
    color: rgba(217, 7, 84, 0.6);
    font-family: consolas;
    font-size: 12pt;
}

.footer a:hover{
    color: #0bb3d9;
}
